<div class="card w-full grow bg-base-100 shadow-xl">
    <div class="card-body items-center text-center">
        <h2 class="card-title">Le Co'Lab Artistique</h2>
        <p class="p-2">L'espace de création de projets artistiques, en collab' ou en privé.</p>
        <div class="card-actions">
                <div class="tooltip" data-tip="Bientôt disponible">
                        <button class="btn btn-primary" disabled="disabled">Créer</button>
                </div>
        </div>
    </div>
</div>
