<div class="card w-full grow bg-base-100 shadow-xl">
    <div class="card-body items-center text-center">
        <h2 class="card-title">Ma communication</h2>
        <p class="p-2">Un dépliant? Une carte de visite? Tu nous donnes beaucoup d'infos donc autant que cela te soit super utile!</p>
        <div class="card-actions">
		<div class="tooltip" data-tip="Bientôt disponible">            
			<button class="btn btn-primary" disabled="disabled">Générer un support</button>
		</div>        
	</div>
    </div>
</div>
