    <div class="card w-full grow bg-base-100 shadow-xl image-full">
        <figure><img src="https://api.lorem.space/image/shoes?w=400&h=225" alt="Shoes" /></figure>
        <div class="card-body">
            <h2 class="card-title">La communauté Hyvi</h2>
            <p>Découvre les artistes et professionnels du showbizz sans le bizz ! Boost ta carrière artistique en boostant celles des autres, en développant ton réseau ou en créant et en participant à des collab's.</p>
            <div class="card-actions justify-end">
                <button (click)="headerbutton()" class="btn btn-primary">C'est parti!</button>
            </div>
        </div>
    </div>
