<div class="grid grid-cols-1 md:grid-cols-3 grid-rows-none gap-4 w-full h-full">
    <div class="box md:col-span-3">
        <div class="card w-full grow bg-base-100 shadow-xl">
            <div class="card-body">
                <label (click)="closebutton()" class="btn btn-sm btn-circle absolute m-2 right-2 top-2">✕</label>
                <h2 class="card-title">Recherche avancée</h2>
                <select class="select select-bordered w-full">
                    <option disabled selected>Catégorie</option>
                    <option>Han Solo</option>
                    <option>Greedo</option>
                </select>
                <input type="text" placeholder="Mots-clés" class="input input-bordered w-full" />
                <button class="btn btn-outline btn-primary">Rechercher</button>
            </div>
        </div>
    </div>

            <div *ngFor="let movie of Movies" class="box mt-20 relative">
                <div class="rounded overflow-hidden shadow-xl rounded-xl bg-base-100">
                    <div class="absolute -mt-20 w-full flex justify-center">
                        <div class="h-32 w-32">
                            <img src="https://api.lorem.space/image/shoes?w=400&h=225" alt="" class="rounded-full object-cover h-full w-full shadow-md" />
                        </div>
                    </div>
                    <div class="px-6 mt-16">
                        <div class="font-bold text-3xl text-center pb-1">{{movie.name}}</div>
                        <p class="text-gray-800 text-sm text-center">Chief Executive Officer</p>
                        <div class="w-full flex justify-center">
			<button class="btn btn-xs btn-outline m-2">Collaborer</button>
			<button class="btn btn-xs btn-primary m-2">Booker</button>
			</div>
			<p class="text-center text-gray-600 text-base font-normal">The CEO's role in raising a company's corporate IQ is to establish an atmosphere that promotes knowledge sharing and collaboration.</p>
                        <div class="w-full flex justify-center pt-5 pb-5">
                            <a href="javascript:void(0)" class="mx-5">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                                        <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                                    </svg>
                                </div>
                            </a>
                            <a href="javascript:void(0)" class="mx-5">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">
                                        <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                                    </svg>
                                </div>
                            </a>
                            <a href="javascript:void(0)" class="mx-5">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#718096" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
                                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
</div>
